.ix-charts-tooltips {
  min-width: 180px;

  &-title {
    font-weight: 600;
    color: #2f3540;
    margin-bottom: 8px;
  }

  &-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 32px;
    line-height: 20px;
    color: #2f3540;
    background: #ffffff;
    box-shadow: 0px 4px 12px 0px rgba(2, 55, 179, 0.1);
    padding: 6px 12px;
    margin-bottom: 4px;

    &-border {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background: #458fff;
      box-shadow: 0px 2px 8px 0px #e8f4ff;
    }
  }
}
